body{
    height: 100%;
    width: 100%;
    justify-content: center;
    background: linear-gradient(#8a7f78, #DDD9CE);
    background-repeat: no repeat;
}

.imagem{
    display: flex;
    justify-content: left;
}
.imagem img{
    border-radius: 200px;
    margin-top: 30px;
    width: 120;
    height: 120;
}
